/* Reset CSS */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* 
1. Vị trí
2. Kích thước
3. Màu sắc
4. Kiểu dáng (kiểu chữ, hình tròn, vuông)
*/

/* Chung */

.clear {
    clear: both;
}

.row::after {
    clear: both;
    content: "";
    display: block;
}

.team-white {
    color: #fff !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}

.col-third {
    width: 33.33333%;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

/* Riêng */

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: black;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav li:hover .subnav {
    display: block;
}

#nav > li:hover > a, #nav .subnav li:hover {
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    background-color: #fff;
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav .nav-arrow-down {
    font-size: 14px;
}


#header .search-btn {
    float: right;
    padding: 0 21px;
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
    font-weight: bolder;
}   

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/assets/img/slider/silder1.jpg') top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    bottom: 47px;
    color: #fff;
    width: 100%;
    text-align: center;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
}

#slider .text-description {
    font-weight: 700;
    font-size: 15px;
    margin-top: 25px;
}

#content {

}

#content .content-section {
    width: 800px;
    padding: 64px 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;
}

#content .section-sub-heading {
    font-size: 15px;
    font-style: italic;
    font-weight: 600;
    text-align: center;
    color:rgb(175, 175, 175);
    margin-top: 25px;
    opacity: 0.6;
}

#content .about-text {
    text-align: justify;
    margin-top: 25px;
    line-height: 1.4;
}

#content .member-list {
    margin-top: 48px;
    /* margin-bottom: 48px; */
}

#content .member-item {
    float: left;
    width: 33.33333%;
    text-align: center;
}

#content .member-name {
    font-size: 15px;
}

#content .member-img {
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;
}

#content .tour-section {
    background-color: #000;
}

#content .tickets-list li {
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}

#content .tickets-list {
    background-color: #fff;
    margin-top: 40px;
    list-style: none;
}

#content .tickets-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

#content .tickets-list .quantity {
    float: right;
    height: 24px;
    width: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}

/* Places */

.places-list {
    margin-top: 32px;
    margin-left: -8px;
    margin-right: -8px;
    padding-bottom: 48px;
}

.places-item {
    float: left;
    width: 33.33333%;
    padding: 0 8px;
}

.places-img {
    width: 100%;
    display: block;
}

.places-img:hover {
    opacity: 0.6;
}

.places-body {
    padding: 16px;
    font-size: 15px;
    background-color: #fff;

}

.places-heading {
    font-size: 15px;
}

.places-times {
    margin-top: 15px;
    color: #757575;
}

.places-description {
    margin-top: 15px;
    line-height: 1.4;
}

.places-list .places-buy-btn {
    font-size: 15px;
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    cursor: pointer;
    border: none;
}

.places-buy-btn:hover {
    background-color: #ccc;
    color: #000;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-container {
    background-color: #fff;
    width: 900px;
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.5s;
}

.modal-header {
    background-color: #009688;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 30px;
}

.modal .modal-icon {
    margin-right: 16px;
}

.modal-close:hover {
    opacity: 1;
    background-color: #f44336;
    color: #fff;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    font-size: 20px;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}

.modal .modal-body {
    padding: 16px;
}

.modal .modal-label {
    display: block;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 12px;
}

.modal .modal-input {
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 24px;
}

#buy-tickets {
    background-color: #009688;
    border: none;
    color: #fff;
    width: 100%;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    padding: 18px;
}

#buy-tickets:hover {
    cursor: pointer;
    opacity: 0.8;
}

.modal-footer {
    padding: 16px;
    text-align: right;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.modal-footer a {
    color : #2196f3;
}

.modal.open {
    display: flex;
}

.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i {
    width: 30px;
    display: inline-block;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    outline: none;
}

.contact-form .form-submit-btn {
    font-size: 15px;
    color: #fff;
    background-color: #000;
    border: none;
    padding: 10px 16px;
    float: right;
}

.contact-form .form-submit-btn:hover {
    cursor: pointer;
    background-color: #ccc;
    color: #000;
}

.map-section img {
    width: 100%;
}

#footer {
    padding: 64px;
    text-align: center;
}

#footer .social-list {
    font-size: 24px;
}

#footer .social-list a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a:hover,
#footer .social-list a:hover {
    opacity: 0.4;
}

#footer .copyright {
    color: rgba(0, 0, 0, 0.6);
    margin-top: 15px;
    font-size: 15px;
    font-weight: bold;
}

#footer .copyright a {
    color: rgba(0, 0, 0, 0.6);
}

@keyframes modalFadeIn {
    form {
        opacity: 0;
        transform: translateY(-90px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}